<!DOCTYPE html>
<html>
  <head>
    <title>DiamondDolls</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">

    <ul class="nav nav-pills">
      <li class="nav-item">
        <%= link_to "Главная", root_path %>
      </li>
      <li class="nav-item">
        <%= link_to "Об альянсе", pages_about_path %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>

    <%= yield %>
  </div>
  </body>
</html>
