<!DOCTYPE html>
<html>
  <head>
    <title>DiamondDolls</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container-fluid container-background">
      <div class="container">

        <nav class="navbar navbar-light" style="background-color: rgba(255,0,0, 0.3);">
        <ul class="nav">
          <li class="nav-item nav-link active">
            <h3> <%= link_to 'Главная', root_path %> </h3>
          </li>
          <li class="nav-item nav-link active">
           <h3> <%= link_to "Об альянсе", pages_about_path %> </h3>
          </li>
        </ul>
        </nav>


        <%= yield %>

      </div>
  </div>
  </body>

</html>
