<!DOCTYPE html>
<html>
  <head>
    <title>DiamondDolls</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container-fluid container-background">
      <div class="container">

        <ul class="nav">
          <li class="nav-item nav-link active">
            <%= link_to 'Главная', root_path %>
          </li>
          <li class="nav-item nav-link active">
            <%= link_to "Об альянсе", pages_about_path %>
          </li>
        </ul>


        <%= yield %>

      </div>
  </div>
  </body>

</html>
